* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-weight: normal;
}

html {}

head {}

header {
position: relative;
width:100%;
height:860px;
background: url(https://raw.githubusercontent.com/genkimita/mosya_airbnb/master/image/68f5f594-985e-48dc-8c82-ec1e090c6b3a.jpg);
background-size: cover;
}
.menu {
  display: flex;
}
.menu-icon,.menu-boxgate {
  display: inline-block;
}
.menu-icon {
  margin-right: auto;
  padding-top:25px;
  padding-left:25px;
}
img.menu-icon-img {
  width:35px;
  height:35px;
}
.menu-boxgate {
  padding-top:25px;
}
.menu-box {
list-style: none;
}
.menu-box p{
color:#ffffff;
}
.menu-list {
  display: inline-block;
  color:#ffffff;
  padding-bottom:35px;
  padding-left:15px;
  padding-right:15px;
}
.menu-list:hover {
color:#ffffff;
border-bottom:2px solid #ffffff ;
padding-bottom:33px;
}
.top {
  width:100%;
  color:rgba(255, 255, 255,1.0);
  padding-top:215px;
  padding-left:250px;
}
.top-signup  {
}
h1.top-signup-one {
  width:500px;
  font-weight: 800;
  font-size: 46px;
  line-height: 52px;
}
.top-signup-one {
  padding-bottom:25px;
}
h2.top-signup-two {
  width:500px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
.top-signup-two  {
padding-bottom:25px;
}
.top-signup-two span:hover{
  border-bottom:1px solid #ffffff ;
}
h3.top-signup-three {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
.top-signup-three {
  width:500px;
  padding-bottom:5px;
}
.top-signup-form {
}
input.top-signup-form {
  width:450px;
  height:55px;
}
h4.top-signup-four {
  width:500px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.top-signup-four {
padding-top:10px;
}
.top-signup-four span:hover{
  border-bottom:1px solid #ffffff ;
}
.stop-btn {
  color:#ffffff;
  border:2px solid #ffffff ;
  width:110px;
  height:50px;
  position: absolute;
  right: 23px;
  bottom: 23px;
  display: flex;
  align-items: center;
}
.stop-btn-box {
  display: block;
  text-align: center;
}
.stop-btn-text,.stop-img {
}
a.stop-btn-text {
font-weight: 800;
font-size: 16px;
line-height: 24px;
}
.stop-img {
  width:15px;
  height:20px;
}

product {}
.product {
  width:100%;
}
  .product-wrapper {
    text-align: center;
    padding-top:100px;
    padding-bottom:25px;
    font-weight: 400;
    font-size: 46px;
    line-height: 52px;
  }
  .product-image-boxgate {
    text-align: center;
    padding-bottom:80px;
  }
  .product-image-box {
    display: inline-block;
    padding-left:4px;
    padding-right:4px;
  }
  .product-image   {
    padding-bottom:10px;
  }
  .product-image img{
    width:427px;
    height:417px;
  }
  .product-image-box p {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
  }


.athome  {
  width:100%;
}
.athome-boxgate {
  margin:0 auto;
}
.athome-box  {
  display: inline-block;
}
.athome-box-one {
}
.athome-box img{
  width:677px;
  height:625px;
}
.athome-box-image {
}
.athome-box-two {
  width:955px;
  height:625px;
  background-color:rgb(235, 235, 235);
}
.athome-box-text h1{
  font-weight: 400;
  font-size: 46px;
  line-height: 52px;
}
.athome-box-text h2{
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}
.athome-box-text h3{
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color:#008489;
}
.athome-box-text span:hover {
  border-bottom:1px solid #008489 ;
}


.team {
  display: block;
}
.team-box {
  display: inline-block;
}
.team-box-one {
  width:890px;
  height:625px;
  background-color:rgb(3, 107, 112);
  color:#ffffff;
}
.team-box-list {
  margin-left: auto;
  margin-right: auto;
  margin: 0
}
.team-box-two {
}
.team-box img{
  width:600px;
  height:625px;
}

.creativity {
  display: block;
}
.creativity-box {
  display: inline-block;
}
.creativity-box-one {
  width:630px;
  height:625px;
}
.creativity-box-two {
  width:890px;
  height:625px;
  background-color:rgb(235, 235, 235);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}
.creativity-box-two {
  margin: 0
}
.creativity-box-two h1{
  font-weight: 400;
  font-size: 46px;
  line-height: 52px;
}
.creativity-box-two h2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.creativity-box-two h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

credit {
}
.credit {
  width:100%;
  background-color:rgb(3, 107, 112);
  color:#ffffff;
  padding-top:70px;
  padding-bottom:65px;
}
.credit-box {
  display: inline-block;
}
.credit-box-gate {
  list-style: none;
  text-align: center;
}
.credit-box-one {
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
}
.credit-box-two {
  width:390px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}
.credit-box-three {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.credit-box-three span:hover{
  border-bottom:2px solid #ffffff ;
}


message {
  width:100%;
}
.message {
  padding-top:100px;
  padding-bottom:100px;
}
.message-box {
  display: inline-block;
}
.message-box img{
  width:597px;
  height:624px;
}
.message-box-text {
  width:663px;
  height:624px;
  background-color:rgb(235, 235, 235);
  color:rgb(72, 72, 72);
}
.message-box-gate {
  list-style: none;
}
.message-box-one {
  font-weight: 400;
  font-size: 24px;
  line-height: 48px;
  padding-bottom:40px;
}
.message-box-two {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  padding-bottom:5px;
}
.message-box-three {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

join {
}
.join {
  text-align: center;
  width:100%;
  background-color:rgb(235, 235, 235);
  color:rgb(72, 72, 72);
}
.join-box-one {
  font-weight: 400;
  font-size: 46px;
  line-height: 52px;
}
.join-box-two {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
.join-box-three {
  border-bottom:1px solid rgb(235, 235, 235) ;
  padding-bottom:48px;
}
.join-box-four {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
.join-box-five {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.join-box-six {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color:color:#008489;;
}
.join-box-six span:hover {
  border-bottom:2px solid color:#008489; ;
}


footer {
  width:100%;
}
.footer-info-box-gate {
  border-bottom:1px solid rgb(221, 221, 221) ;
  padding-bottom:50px;
}
.footer-info-box {
  width:20%;
  list-style: none;
  display: inline-block;
}
.footer-info-box-one {
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  color:rgb(34, 35, 35);
}
.footer-info-box-two {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color:rgb(84, 84, 84);
}
.footer-info-box-two:hover {
  border-bottom:1px solid rgb(84, 84, 84) ;
}

.footer-copyright-box-gate {

}
.footer-copyright-box {
  width:50%;
  display: inline-block;
}
.footer-copyright-box-one {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
.footer-copyright-box-two {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.footer-copyright-box-three {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
.footer-copyright-box-four {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}












.address {}
.copyright {}
