* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-weight: normal;
}

html {}

head {}

header {
position: relative;
width:100%;
height:860px;
background: url(https://raw.githubusercontent.com/genkimita/mosya_airbnb/master/image/68f5f594-985e-48dc-8c82-ec1e090c6b3a.jpg);
background-size: cover;
}
.menu {
  display: flex;
}
.menu-icon,.menu-boxgate {
  display: inline-block;
}
.menu-icon {
  margin-right: auto;
  padding-top:25px;
  padding-left:25px;
}
img.menu-icon-img {
  width:35px;
  height:35px;
}
.menu-boxgate {
  padding-top:25px;
}
.menu-box {
list-style: none;
}
.menu-box p{
color:#ffffff;
}
.menu-list {
  display: inline-block;
  color:#ffffff;
  padding-bottom:35px;
  padding-left:15px;
  padding-right:15px;
}
.menu-list:hover {
color:#ffffff;
border-bottom:2px solid #ffffff ;
padding-bottom:33px;
}
.top {
  width:100%;
  color:rgba(255, 255, 255,1.0);
  padding-top:215px;
  padding-left:250px;
}
.top-signup  {
}
h1.top-signup-one {
  width:500px;
  font-weight: 800;
  font-size: 46px;
  line-height: 52px;
}
.top-signup-one {
  padding-bottom:25px;
}
h2.top-signup-two {
  width:500px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
.top-signup-two  {
padding-bottom:25px;
}
.top-signup-two span:hover{
  border-bottom:1px solid #ffffff ;
}
h3.top-signup-three {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
.top-signup-three {
  width:500px;
  padding-bottom:5px;
}
.top-signup-form {
}
input.top-signup-form {
  width:450px;
  height:55px;
}
h4.top-signup-four {
  width:500px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.top-signup-four {
padding-top:10px;
}
.top-signup-four span:hover{
  border-bottom:1px solid #ffffff ;
}
.stop-btn {
  color:#ffffff;
  border:2px solid #ffffff ;
  width:110px;
  height:50px;
  position: absolute;
  right: 23px;
  bottom: 23px;
  display: flex;
  align-items: center;
}
.stop-btn-box {
  display: block;
  margin-left:auto;
  margin-left:auto;
  margin: 0
}
.stop-btn-text,.stop-img {
}
a.stop-btn-text {
font-weight: 800;
font-size: 16px;
line-height: 24px;
}
.stop-img {
  width:15px;
  height:20px;
}

body {
}
.product {
  width:100%;
}
  .product-wrapper {
    text-align: center;
    padding-top:100px;
    padding-bottom:25px;
    font-weight: 400;
    font-size: 46px;
    line-height: 52px;
  }
  .product-image-boxgate {
    text-align: center;
    padding-bottom:80px;
  }
  .product-image-box {
    display: inline-block;
    width:25%;
    padding-left:4px;
    padding-right:4px;
  }
  .product-image {

    padding-bottom:10px;
  }
  .product-image img{
    width:427px;
    height:417px;
  }
  .product-image-box p {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
  }


.athome {
}

.athome-boxgate {
  font-size: 0px;
}
.athome-box-one,.athome-box-two  {
  float:left;
}
.athome-box-one img{
  width:40%;
}
.athome-box-two {
  width:60%;
  background-color:rgb(235, 235, 235);
  display: table-cell;
  vertical-align: middle;
}
.athome-box-text {
}
.athome-box-text h1{
  font-weight: 400;
  font-size: 46px;
  line-height: 52px;
}
.athome-box-text h2{
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}
.athome-box-text h3{
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color:#008489;
}
.athome-box-text span:hover {
  border-bottom:1px solid #008489 ;
}




.team {
  width:100%;
}
.team-box {
  display: inline-block;
  display: flex;
  align-items: center;
}
.team-boxgate {
  width:890px;
  height:625px;
  background-color:rgb(3, 107, 112);
  color:#ffffff;
  margin-left: auto;
  margin-right: auto;
  margin: 0
}
.team-box-two {
  width:600px;
  height:625px;
}
.creativity {

}
.creativity-box {
  display: inline-block;
}
.creativity-box-one {
  width:630px;
  height:625px;
}
.creativity-box-two {
  width:890px;
  height:625px;
  background-color:rgb(235, 235, 235);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}
.creativity-box-two {
  margin: 0
}
.creativity-box-two h1{
  font-weight: 400;
  font-size: 46px;
  line-height: 52px;
}
.creativity-box-two h2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.creativity-box-two h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.credit {
  width:100%;
  background-color:rgb(3, 107, 112);
  color:#ffffff;
}
.credit-boxgate {
  text-align: center;
}
.credit-box {
  width:50%;
  float:left;
}
.credit-box-one {
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
}
.credit-box-two {
  width:390px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}
.credit-box-three {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.credit-box-three span:hover{
  border-bottom:2px solid #ffffff ;
}
.credit-box-four {
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
}
.credit-box-five {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}
.credit-box-six {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.credit-box-six span:hover{
  border-bottom:2px solid #ffffff ;
}


.message {}
.join {}

footer {}
.address {}
.copyright {}
