* {
  margin: 0px;
  padding: 0px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {

html {
  font-weight: normal;
}

head {}

header {
position: relative;
width:100%;
height:860px;
background: url(https://raw.githubusercontent.com/genkimita/mosya_airbnb/master/image/68f5f594-985e-48dc-8c82-ec1e090c6b3a.jpg);
background-size: cover;
}
.menu {
  display: flex;
}
.menu-icon,.menu-boxgate {
  display: inline-block;
}
.menu-icon {
  margin-right: auto;
  padding-top:25px;
  padding-left:25px;
}
img.menu-icon-img {
  width:35px;
  height:35px;
}
.menu-box {
list-style: none;
}
.menu-box p{
color:#ffffff;
}
.menu-list {
  display: inline-block;
  color:#ffffff;
  padding-bottom:35px;
  padding-left:15px;
  padding-right:15px;
}
.menu-list:hover {
color:#ffffff;
border-bottom:2px solid #ffffff ;
padding-bottom:33px;
}
.top {
color:rgba(255, 255, 255,1.0);
padding-top:215px;
padding-left:250px;
}
.top-signup p{
  width:500px;
}
.top-signup-one {
font-weight: 800;
font-size: 46px;
line-height: 52px;
padding-bottom:25px;
}
.top-signup-two {
font-weight: 600;
font-size: 16px;
line-height: 22px;
padding-bottom:25px;
}
.top-signup-two span:hover{
  border-bottom:1px solid #ffffff ;
}
.top-signup-three {
font-weight: 600;
font-size: 16px;
line-height: 22px;
padding-bottom:5px;
}
.top-signup-form {
}
input.top-signup-form {
  width:450px;
  height:55px;
}
.top-signup-four {
font-weight: 400;
font-size: 16px;
line-height: 22px;
padding-top:10px;
}
.top-signup-four span:hover{
  border-bottom:1px solid #ffffff ;
}
.stop-btn {
  color:#ffffff;
  border:2px solid #ffffff ;
  width:110px;
  height:50px;
  position: absolute;
  right: 23px;
  bottom: 23px;
}
.stop-btn-box {
  text-align: center;
}
.stop-btn a{
font-weight: 400;
font-size: 12px;
line-height: 17px;
}
.stop-img {
  width:15px;
  height:20px;
}

body {
}
.product {
  text-align: center;
  width:100%;
  height:760px;
}
  .product-wrapper {
    padding-top:100px;
    font-weight: 400;
    font-size: 46px;
    line-height: 52px;
  }
  .product-image-boxgate {
  }
  .product-image-box {
    display: inline-block;
    padding-left:8px;
    padding-right:8px;
  }
  .product-img-box img{
  }
  .product-img {
    width:396px;
    height:417px;
  }
  .product-image-content {
    width:265px;
    padding-top:20px;
  }


.about {
  width:100%;
  padding: 8px;
}
.athome {
  text-align: center;
}
.athome-box {
  display: inline-block;
  padding: 8px;
}
.athome-box-one {
  width:630px;
  height:625px;
}
.athome-box-two {
  width:890px;
  height:625px;
  background-color:rgb(235, 235, 235);
}
.team {

}
.team-box {
  display: inline-block;
  padding: 8px;
}
.team-box-one {
  width:890px;
  height:625px;
  background-color:rgb(3, 107, 112);
  color:#ffffff;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}
.team-box-one h1 h2 h3 {
  margin: 0
}
.team-box-two {
  width:600px;
  height:625px;
}
.creativity {

}
.creativity-box {
  display: inline-block;
  padding: 8px;
}
.creativity-box-one {
  width:630px;
  height:625px;
}
.creativity-box-two {
  width:890px;
  height:625px;
  background-color:rgb(235, 235, 235);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}
.creativity-box-two {
  margin: 0
}
.creativity-box-two h1{
  font-weight: 400;
  font-size: 46px;
  line-height: 52px;
}
.creativity-box-two h2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.creativity-box-two h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.credit {
  width:100%;
  background-color:rgb(3, 107, 112);
  color:#ffffff;
}
.credit-boxgate {
  text-align: center;
}
.credit-box {
  width:50%;
  float:left;
}
.credit-box-one {
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
}
.credit-box-two {
  width:390px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}
.credit-box-three {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.credit-box-three span:hover{
  border-bottom:2px solid #ffffff ;
}
.credit-box-four {
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
}
.credit-box-five {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}
.credit-box-six {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.credit-box-six span:hover{
  border-bottom:2px solid #ffffff ;
}


.message {}
.join {}

footer {}
.address {}
.copyright {}


}
