@media screen {

html {
  font-weight: normal;
  width:1495px;
}

head {}

header {
width:100%;
height:860px;
background: url(https://raw.githubusercontent.com/genkimita/mosya_airbnb/master/イメージ/68f5f594-985e-48dc-8c82-ec1e090c6b3a.jpg);
background-size: cover;
}
.menu {
font-weight: 600;
font-size: 14px;
line-height: 14px;
}
.menu-wrapper {
display: inline-block;
}
img.menu-icon {
  width:35px;
  height:35px;
  padding-left:25px;
  padding-bottom:35px;
}
.menu-box {
list-style: none;
}
.menu-box p{
color:#ffffff;
float:left;
}
.menu-list {
  color:#ffffff;
  padding-bottom:35px;
  padding-left:15px;
  padding-right:15px;
}
.menu-list:hover {
color:#ffffff;
border-bottom:1px solid #ffffff ;
padding-bottom:35px;
}
.top {
color:rgba(255, 255, 255,1.0);
}
.top-signup-one {
font-weight: 800;
font-size: 46px;
line-height: 52px;
}
.top-signup-two {
font-weight: 600;
font-size: 16px;
line-height: 22px;
}
.top-signup-three {
font-weight: 600;
font-size: 16px;
line-height: 22px;
}
.top-signup input{
width:450px;
height:60px;
}
.top-signup-four {
font-weight: 400;
font-size: 16px;
line-height: 22px;
}

body {
  width:100%;
  height:760px;
}
.product {}
  .product-wrapper {
    text-align: center;
  }
  .product-wrapper p{
    font-weight: 400;
    font-size: 46px;
    line-height: 52px;
  }
  .product-image {
    text-align: center;
  }
  .product-image-box {
    display: inline-block;
    padding-left:8px;
    padding-right:8px;
  }
  .product-image-content {
    width:265px;
    padding-top:20px;
  }


.about {}
.athome {}
.team {}
.creativity {}
.message {}
.join {}

footer {}
.address {}
.copyright {}


}
